sudo: required

language: bash

services:
  - docker

addons:
  apt:
    update: true
    packages:
      - docker-ce
      - make

install:
- docker build -t bitbox-wallet .

jobs:
  include:
    - stage: docker ci
      script: docker run -it bitbox-wallet /bin/bash -c "make docker-ci"
    - stage: docker ci-fast
      script: docker run -it bitbox-wallet /bin/bash -c "make docker-ci-fast"
    - stage: build linux
      script: docker run -it bitbox-wallet /bin/bash -c "make clean qt-linux"
