sudo: required

services:
  - docker

addons:
  apt:
    packages:
      - make

script:
- docker build --tag bitbox-wallet-dev .
- docker images
- docker ps -a
- docker image ls
- docker run bitbox-wallet-dev:latest    
- docker ps -a
- docker run -t bitbox-wallet-dev:latest /bin/bash -c 'cd /opt/go/src/github.com/digitalbitbox/bitbox-wallet-app && make dockerbuild-linux'
- docker ps -a
