sudo: required

services:
  - docker

addons:
  apt:
    packages:
      - make

script:
- docker build --tag bitbox-wallet-dev .
- docker images
- docker ps -a
- docker run -v "`pwd`":/opt/go/src/github.com/digitalbitbox/bitbox-wallet-app -t bitbox-wallet-dev bash -c 'cd /opt/go/src/github.com/digitalbitbox/bitbox-wallet-app && ./scripts/ci.sh'
- docker run -v "`pwd`":/opt/go/src/github.com/digitalbitbox/bitbox-wallet-app -t bitbox-wallet-dev bash -c 'cd /opt/go/src/github.com/digitalbitbox/bitbox-wallet-app && ./scripts/ci-fast.sh'
- docker run -t bitbox-wallet-dev /bin/bash -c "cd /opt/go/src/github.com/digitalbitbox/bitbox-wallet-app && make clean qt-linux"
